.Chart {
    margin: 24px;
    /* display: flex;
    width: 844px;
    height: 657px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0; */
}

.Text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 19px;
}